version: "3.8"

services:
  gateway:
    build:
      context: gateway/docker/development/nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: frontend/docker/development/nginx
    restart: unless-stopped
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  backend:
    build:
      context: api
    platform: linux/amd64
    restart: unless-stopped
    depends_on:
      - keycloak

  keycloak:
    environment:
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
    image: wizzn/keycloak:14
    ports:
      - "28080:8080"
    platform: linux/amd64
    restart: unless-stopped
